*{
    outline: none;
}
@font-face {
    font-family: "Rajdhani";
    src: url(assets/fonts/Rajdhani-Medium.ttf);
    font-weight: normal;
}

body {
    background: #fff;
}

.carousel-inner {
    height:  99vh;
    width: 177.7vh;
    border: 2.5vh solid rgb(50, 47, 47);
    box-shadow: 5px 5px 70px;
    border-radius: 8vh;
    background-image: url(assets/images/lightbk.png);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item img {
    position: absolute;
}

.carousel-item {
    height: 100vh;
    border-radius: 40vh;
}

.carousel-indicators{
    margin-left: auto;
    margin-right: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vh;
    height: 6.8vh;
}

.carousel-indicators li {
    border: 3px solid rgba(0, 0, 0, 0.247);
    margin-top: 8.8vh;
    border-radius: 10vh;
    width: 3.5vh;
    height: 3.5vh;
}

.description {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.sinopse {
    width: 100%;
    height: 100%;
    color: #fff;
    font-weight: bolder;
}
.messengers {
    width: 211vh;
    height: 100vh;
}
.card-message{
    width: 211vh;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-image {
    width: 15vh;
    height: 100%;
    display: flex;
    align-items: end;
    padding-left: 1.1vh;
}

.cnt-user {
    height: 13vh;
    width: 13vh;
    background-color: rgb(219, 228, 219);
    display: flex;
    align-items: end;
    justify-content: center;
    border-radius: 12vh;
    overflow: hidden;
    border: 1px solid #ada9a981;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.341);
}
.cnt-user i {
    font-size: 9vh;
    color: #fff;;
}

.container-ballon {
    width: 200vh;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: left;
    padding-left: 7vh;
}

.ballons-card {
    background-color: #EDEEE6;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.341);
    width: 145vh;
    padding: 3vh;
    border-radius: 2vh;
}

.ballons-card::before{
    content: '';
    position: absolute;
    width: 3vh;
    height: 3vh;
    border-left: 1px solid rgba(0, 0, 0, 0.19);
    border-bottom: 1px solid rgba(0, 0, 0, 0.211);
    left: 20.4vh;
    top: 66vh;
    background-color: #EDEEE6;
    transform: rotate(45deg);
}

.ballons-card p {
    font-size: 5vh;
    text-align: justify;
    font-family: "Rajdhani";
    color: #000;
}

.head-chat {
    position: absolute;
    width: 100%;
    height: 13.5vh;
    background-color: #EDEEE6;
    top: 0;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ada9a9;
}

.logo{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 3vh;
}

.logo img {
    width: 12vh;
    border-radius: 6vh;
    margin-left: 1vh;
    border: 1px solid rgba(142, 138, 138, 0.449);
    box-shadow: 1px 1px 5px;
}

.group-name {
    font-size: 7vh;
    font-weight: bolder;
    display: flex;
    align-items: center;
    width: 100%;
}
.group-name p{
    margin-top: auto;
    margin-bottom: auto;
    font-family: "Rajdhani";
    font-weight: bolder;
    color: #067D99;
    text-shadow: 1px 1px 3px;
}

.group-name i {
    margin-left: auto;
    padding-right: 10vh;
    cursor: pointer;
}

.foot-chat {
    width: 100%;
    position: absolute;
    height: 13.5vh;
    background-color: #EDEEE6;
    bottom: 0;
}

.options {
    width: 100%;
    height: 13.5vh;
    display: flex;
}

.bar {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.tec {
    width: 150vh;
    height: 6.5vh;
    background-color: #fff;
    border: 1px solid #ada9a9;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
}

.icon {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.exp {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.exp p{
    margin-top: 2vh;
    font-size: 3vh;
    font-weight: bold;
    font-family: "Rajdhani";
    border-right: 2px solid #000;
    margin-right: 2vh;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}

.icon i {
    font-size: 5vh;
    color: #ada9a9;
}

.audio {
    display: flex;
    width: 10vh;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.icon-mic{
    width: 7vh;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #025A4A;
    border-radius: 150vh;
}

.icon-mic i {
    font-size: 3.5vh;
    color: #fff;
}

.typing-animation {
    animation: blinkCursor 1000ms steps(40) infinite normal, typing 4s steps(40) 1s normal both;

}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 85vh;
    }
}

@keyframes blinkCursor {
    from {
        border-right-color: #5f5e5e;
    }
    to {
        border-right-color: transparent;
    }
}
